<script type="text/javascript" src="{{site.baseurl}}/static/js/blog.js?v={{ '/static/js/blog.js' | asset_version }}"></script>
{% if page.url == '/pages/search.html' %}
<script src="{{site.baseurl}}/static/js/search.js?v={{ '/static/js/search.js' | asset_version }}"></script>
{% endif %}

{%- if page.layout=="mypost" -%}
  {%- if site.extMath -%}
    {% include ext-mathjax.html %}
  {% elsif page.extMath %}
    {% include ext-mathjax.html %}
  {% endif %}
{% endif %}

{%- if site.extCount %}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endif %}
