html.dark {
  --syntax-bg: #20262e;
  --syntax-text: #e2e6ec;
  --syntax-comment: #a1acb9;
  --syntax-keyword: #d5a6ee;
  --syntax-string: #b2d89d;
  --syntax-number: #e5c07b;
  --syntax-name: #91bdef;
  --syntax-error-text: #ffb8c7;
  --syntax-error-bg: #482732;
  --syntax-added-text: #bce4c3;
  --syntax-added-bg: #233c2b;
  --syntax-line-bg: #303a46;
}
